In [2]:
import pandas as pd

folder = "data/"
purchases_df = pd.read_csv(folder+"item_spend.csv")
activity_df = pd.read_csv(folder+"player_activity.csv")
stats_df = pd.read_csv(folder+"player_statistics.csv")

In [12]:
dfs = [purchases_df, activity_df, stats_df]

In [4]:
purchases_df.head()

,account_id,platform_id,occur_date,item,item_type,item_sub_type,money_spent
0,1295,PS4,2020-10-24,Imponte Dukes,CAR,MUSCLE,24734.421385
1,3820,PS4,2020-11-12,Vapid GB200,CAR,SPORTS,375005.743577
2,193,PS4,2020-11-27,Vulcar Warrener,CAR,SEDAN,47873.073648
3,4945,PS4,2020-11-27,Cheval Marshall,CAR,OFF ROAD,0.000000
4,4237,XBOX,2020-09-02,Albany V-STR,CAR,SPORTS,512640.830316

In [7]:
purchases_df['item_type'].value_counts()

item_type
CAR           57371
WEAPON        54728
PROPERTY      19662
BIKE          11993
HELICOPTER     4398
PLANE          2523
CYCLE          2331
OTHER          1019
BOAT            810
TANK            297
JET             256
TRUCK            37
Name: count, dtype: int64

In [14]:
import numpy as np
for df in dfs:
    print(np.sum(df.isna(), axis = 0))

account_id          0
platform_id         0
occur_date          0
item             1615
item_type         325
item_sub_type     481
money_spent         0
dtype: int64
account_id             0
platform_id            0
occur_date             0
activity_type          0
time_spent             0
kills                  0
deaths                 0
suicides               0
money_earned           0
rp_earned              0
success                0
money_vs_time_spent    0
rp_vs_time_spent       0
dtype: int64
account_id          0
platform_id         0
occur_date          0
ltd_days_played     0
first_day_played    0
evc_balance         0
pvc_balance         0
char_rank           0
daily_playtime      0
days_since_first    0
dtype: int64